# ===================================
# 專案路徑設定 (Directory Configurations)
# ===================================
# 專案根目錄路徑
BASE_DIR=D:/Wiwynn/segmentation_animal

# 圖片輸入與輸出資料夾
IMAGE_DIR=D:/Wiwynn/segmentation_animal/images
OUTPUT_DIR=D:/Wiwynn/segmentation_animal/output

# 模型存放資料夾
MODEL_DIR=D:/Wiwynn/segmentation_animal/models

# ===================================
# 模型權重檔名 (Model Files)
# ===================================
SEG_MODEL_NAME=yolov8x-seg.pt
POSE_MODEL_NAME=ap10k_pt.pth
BASE_POSE_MODEL_NAME=yolov8x-pose.pt

# ===================================
# Inference Parameters
# ===================================
# Segmentation threshold
SEG_CONF=0.25

# Pose threshold
POSE_CONF=0.01

#Image Size
STD_IMGSZ=640
FALLBACK_IMGSZ=1024

# Device (cuda:0 or cpu)
DEVICE=cuda:0